{% extends 'base.html' %}
{% block title %}{{ task.summary}}{% endblock %}
{% block menu %}
    <li><a href="{% url 'task_update' task.pk %}">Update</a></li>
{#    <li><a href="{% url 'task_delete' task.pk %}">Delete</a></li>#}
{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3>{{ task.summary}}</h3>
            <p class="lead">{{ task.description }}</p>
            <hr class="my-4">
            <p><b>Status: </b>{{ task.status }}</p>
            <p><b>Type: </b>{{ task.type }}</p>
            <p><b>Created date: </b>{{ task.created_at|date:'Y-m-d H:i:s' }}</p>
        </div>
    </div>
{% endblock %}