{% extends "base.html" %}
{% block title %}Delete Type{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>Are you sure want to delete type?</h2>
            <form method="POST" action="{% url "type_delete" object.pk %}" class="text-center">
                {% csrf_token %}
                <p class="lead">{{ object.type_name }}</p>
                <hr class="my-4">
                <button type="submit" class="btn" value="Подтвердить">Yes</button>
                <button type="submit" class="btn" value="Submit"><a href="{% url 'type_index' %}">No</a></button>
            </form>
        </div>
    </div>
{% endblock %}