{% extends 'base.html' %}
{% block menu %}
{#    <li><a href="{% url 'project_add' %}">Add Status</a></li>#}
{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'project_index' %}">
        {% csrf_token %}
        <table class="table">
            <h3>Projects</h3>
            <thead>
                <tr>
                   <th scope="col">#</th>
                   <th scope="col">Name</th>
                   <th class="symbol" scope="col">Update</th>
                   <th class="symbol" scope="col">Delete</th>
                </tr>
            </thead>
            {% for project in projects %}
                <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'project_view' project.pk %}">{{ project.name }}</a></td>
{#                        <td class="symbol"><a href="{% url 'project_update' project.pk %}">&#x270E;</a></td>#}
{#                        <td class="symbol"><a href="{% url 'project_delete' project.pk %}">X</a></td>#}
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </form>
{% endblock %}